/* add home page styles here */



* {
    text-align: center;
}

h1 {
    padding-bottom: 1em;
    font-size: 2.1em;
    max-width: 100%;
}

h2 {
    line-height: 130%;
}
p {
    line-height: 130%;
}